body {
  margin: 16px;
  font-family: sans-serif;
}
/* #region module-7-2-properties-and-attributes*/
.module-7-2-properties-and-attributes {
  background-color: beige;
  display: flex;
  flex-direction: column;

  gap: 15px;
  padding: 20px;
  margin: 10px;
}
/* #endregion */

/* #region module-7-3-creating-and-removing-elements  */
.module-7-3-creating-and-removing-elements {
  background-color: rgb(225, 234, 235);
  display: flex;
  flex-direction: column;

  gap: 15px;
  padding: 20px;
  margin: 10px;
}

.usernames li {
  padding: 8px;
  border: 2px dashed tomato;
  text-transform: uppercase;
}

.usernames li:not(:last-child) {
  margin-bottom: 12px;
}
/* #endregion */

/* #region module-7-4-events */
.module-7-4-events {
  background-color: beige;
  display: flex;
  flex-direction: column;

  gap: 15px;
  padding: 20px;
  margin: 10px;
}
/* #endregion */

/* #region module-7-5-form element events */
.module-7-5-form-element-events {
  background-color: rgb(40, 102, 89);
  display: flex;
  flex-direction: column;

  gap: 15px;
  padding: 20px;
  margin: 10px;
}

input {
  width: 100%;
  max-width: 320px;
  padding: 8px;
  font: inherit;
  letter-spacing: inherit;
}

input {
  width: 100%;
  max-width: 320px;
  padding: 8px;
  font: inherit;
  letter-spacing: inherit;
}

button {
  display: inline-flex;
  padding: 4px;
  margin-right: 2px;
  margin-left: 2px;
}
/* #endregion */
